@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
  }
body {
    background-color: #1c2027;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  

}
 /* Nav header */
nav ul {
  width:100%;
  z-index: 2;

  position: fixed;
  list-style: none;
  background-color: #1c2027;
  text-align: center;
  padding: 0;
  margin: 0;
  
}

nav li {
    
  font-size: 1.2em;
  line-height: 40px;
  /* height: 40px; */
  display: inline-block;
  margin-left:7.5%;
 
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #fff;
  color: #4a4a4f;
}
/* <!-- Hero image and text --> */
.container{
    height:80vh;
    font-size:calc(100% + 1vh);
    width:100%;
    background-image:  url("../images/wallhaven-y.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /* overflow:visible; */
  }

  
  .container h1{
   
      
    
     
      margin-left:60vw;
      color: rgb(255, 255, 255);
      font-size:calc(200% + 1vw);
      
     
      position: absolute;
     
  }
  .container li {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
   font-size: 50%;
   
  }
  /* <!-- banner and blurbs --> */
  .banner{
    width:100%;
      background-color: rgb(255, 140, 0);
      position: relative;
      /* bottom: 20%;
      top: 80%; */
    font-size: 350%;
   text-align:center;
  border: 100px;
   color:white;
  }
  .container1{
    height: 60vh;
    font-size:calc(100% + 1vw);
    width:100%;
    background-image:  url("../images/wallhaven-y.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

/* text */
.parent {
    display: flex;
    flex-wrap: wrap;
    font-size: 180%;
    color: #fff;
  }
  
  .child {
    flex: none  ;
    
   color: #fff;
    flex: 1 1 300px;
    /* border: 1px solid red; */
  
    font-size: 2rem;
    text-align: center;
    margin: 7%;
    
  }
  .container1{
    height: 60vh;
    font-size:calc(100% + 1vw);
    width:100%;
    background-image:  url("../images/wallhaven-x.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  /* Social-networks */

.social-networks{
text-align:center;
}

.social-networks >li{
    display:inline;
}
.social-networks i{
    font-size:160%;
    margin: 1%;
    padding:5%;
    color:#3a3a3a;

}